numpy
pandas
scikit-learn
scipy

matplotlib
seaborn

transformers
datasets
tokenizers
sentencepiece

torchmetrics

easyocr
opencv-python
Pillow
albumentations

pyarrow
fastparquet

underthesea
vncorenlp
emoji
unidecode

lime
shap

tensorboard

tqdm
joblib
PyYAML
openpyxl